version: "3.7"

services:
  api:
    build: .
    image: event-planner-api:latest
    ports:
      - "5001:5000"
    env_file: .env.prod


  database:
    image: mongo
    volumes:
      - data:/data/db


volumes:
  data:
